.recommendation-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-width: 100px;
    min-height: 100px;
    padding: 20px 40px 40px 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 36px #222;
    background-color: #fefefe;
    text-align: center;
    margin: 0 auto;
    margin-top:150px;
    
  }


  .recommendation-button
{
  min-width: 100%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 	0.938em;
    border: none;
    border-radius: 4px;
    background-color: #22223B;
    color: #fefefe;
}

.recommend-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px 40px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: #fefefe;
  text-align: center;
  margin: 0 auto;
  margin-top:150px;
  
}