.predict-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px 40px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: #fefefe;
  text-align: center;
  margin: 0 auto;
  margin-top:150px;
  
}

/* .predict-body
{
  font-family: Lato;
    height: 97vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4A4E69;
} */

.predictbutton
{
  min-width: 100%;
    cursor: pointer;
    margin-right: 0.25em;
    margin-top: 0.5em;
    padding: 	0.938em;
    border: none;
    border-radius: 4px;
    background-color: #22223B;
    color: #fefefe;
}

button:hover {
  background-color: #4A4E69;
  color: #fefefe;
}

input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 95%;
  height: 30px;
}
input, select {
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #d6d1d5;
  margin-top: 5px;
}

select {
  display: block;
  width: 100%;
  height: 35px;
}

body {
  font-family: Lato;
 
  background-color: #4A4E69;
}

/* body {
  font-family: Lato;
 
  background-color: #801D08;
} */

 /* .boxDiv
{
  width: 30px;
  height: 10px;
  padding: 50px;
  border: 1px solid red;
  margin: auto;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  margin: auto;
  
} */



 .thisP{
  margin-top: -6px;
  margin:auto;
  font-size:50px
} 

::-webkit-input-placeholder {
  
  font-size: 15px;
}